.modal-frame{
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-wrapper{
  display: flex;
  z-index: 5;
}

.modal-content-wrapper svg{
  cursor: pointer;
  opacity: 0.5;
  margin-top: -18px;
  margin-right: -3px;
}

.modal-content-wrapper svg:hover{
  opacity: 1;
  transition: .2s ease;
}

.photo-modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo-modal-container img{
  object-fit: cover;
  max-height: 85vh;
}

.photo-modal-avatar{
  width: 70px;
  border-radius: 35px;
}
