.photo-feed-container{
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
}

.photo-feed-header{
  margin: 60px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.header-buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
  height: 40px;
}

.header-button{
  width: 80px;
  font-size: 16px;
  background: white;
  color: #3080ED;
  border-radius: 3px;
}

.header-button svg{
  margin-right: 10px;
}
.active{
  background: #3080ED;
  color: white;
}
.photo-list{
  display: flex;
  flex-direction: column;
}

.thumbnail{
  cursor: pointer;
}

.thumbnail:hover{
  transform: scale(1.06);
}

.photo-list li{
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

.list-thumbnail{
  transition: all .5s;
  width: 180px;
  cursor: pointer;
}

.list-thumbnail-frame{
  height: 120px;
  max-width: 180px;
  overflow: hidden;
  width: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.photo-link{
  text-decoration: none;
  word-wrap: break-word;
  padding-left: 45px;
  width: 66%;
}

.photo-grid{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-grid li{
  margin-right: 20px;
  margin-bottom: 20px;
}

.grid-thumbnail{
  transition: all .5s;
  width: 385px;
  height: 266.66px;
  cursor: pointer;
}

.grid-thumbnail-frame{
  width: 385px;
  height: 266.66px;
  overflow: hidden;
}

@media (max-width: 875px) {
  .photo-feed-container{
    margin: 0px 20px
  }
}
@media (max-width: 740px) {
  .photo-link{
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .grid-thumbnail{
    width: 270px;
    height: 180px;
  }
  .grid-thumbnail-frame{
    width: 270px;
    height: 180px;
  }
  .photo-grid li{
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
